body{
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    background-color: #292929;
}
.container{
    width: 1280px;
   
}
.start-screen{
    background: url(../images/start-screen-gradient-background.png);
    width: 1280px;
    height: 908px;
}
header{
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    margin: 0;
    width: 1200px;
    height: 60px;
}
.logo-div {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 184px;
    height: 60px;
    margin-right: 573px;
    cursor: pointer;
}
.logo-subtitle{
    margin-left: 5px;
    font-family: 'Arial';
    width: 179px;
    height: 15px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.09em;
    justify-content:space-between;
    color: white;
  
}
h1{
    color: #F1CDB3;
    width: 184px;
    height: 35px; 
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.05em;
    margin: 0px;
}
.h2-header{
    margin-top: 163px;
    width: 310px;
    height: 114px;
    padding: 0px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: white;
}
.p-subheading{
    margin-top: 42px;
    width: 460px;
    height: 72px;
    font-family: 'Arial';
    color: #CDCDCD;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.make-friend-button{
    display: flex;
    align-items: center;
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    color: #292929;
    border: none;
    margin-top: 42px;
    letter-spacing: 0.05em;

}
.start-screen-content{
    display: flex;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    
}
.screen-content{
    width: 460px;
    height: 322px;
    margin-right: 42px;

}
.dog1{
    width: 698px;
    height: 728px;
}
.nav-menu{
    display: flex;
    gap: 35px;
    list-style: none;
    width: 443px;
    height: 27px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
    padding: 0px;
    
}
a{
    text-decoration: none;
    color: #CDCDCD;
}
ul li{
    cursor: pointer; 
    position: relative;
    text-align: center;
}
li.active::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color:#F1CDB3;
    left: 0;
    bottom: -1px;
    animation: appear 0.2s linear;
}
button:hover{
cursor: pointer;
background-image: linear-gradient(rgba(95, 76, 29, 0.4) 0 0);
}
.arrow:hover{
    background-image: linear-gradient(rgba(246, 227, 177, 0.4) 0 0);
}
.item:hover{
    cursor: pointer;
}
.btn-arrow{
    width: 52px;
    height: 52px;
    border: none;
    background-color: #F6F6F6;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 0;
}
.about{
    display: flex;
    padding-top: 132px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    width: 1200px;
    height: 408px;
    background: #FFFFFF;
}
 .about-content{
    width: 430px;
    height: 380px;
  
 }

 .cat-and-dog{
    width: 300px;
    height: 408px;
    margin-left: 175px;
    margin-right: 120px;
}
.about-content-heading{
    width: 370px;
    height: 90px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 0px;
}
  .about-content-subheading{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}
.pets-content{
    display: flex;
    align-items: center;
    width: 1280px;
    height: 877px;
    background: #F6F6F6;
}
.pets-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    height: 697px;
    background: #F6F6F6;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
}
.pets-heading{
    display: flex;
    
    width: 400px;
    height: 90px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}
.pets{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 435px;
} 
.arrow{
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
}
.pet-img{
    width: 270px;
    height: 270px;;
}
.pet-img:hover{
    cursor: pointer;
}
.three-pet{
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    color: #545454;
}
.same:hover{
    background-color: #f4f3f2;
    cursor: pointer;
}
.same:hover button{
    background-color: #F1CDB3;
    cursor:pointer;
}
.pets-btn{
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 187px;
    height: 52px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #FAFAFA;
}
.pets-name{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.btn-block-3{
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.help-content{
    width: 1280px;
    height: 611px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
   
}
.help-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 431px;
    background: #FFFFFF;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
}
.help-heading{
    width: 308px;
    height: 90px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #545454;
    margin: 0;

}
.help-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 120px;
    width: 1026px;
    height: 281px;
    padding: 0;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.05em;
    color: #545454;
    margin: 0;
}
.item-1{
    width: 82px;
height: 113px;
}
.item-2{
    width: 150px;
    height: 113px;
}
.item-3{
    width: 60px;
    height: 113px;
}
.item-4{
    width: 153px;
    height: 113px;
}
.item-5{
    width: 101px;
    height: 113px;
}
.item-6{
    width: 89px;
    height: 113px;
}
.item-7{
    width: 89px;
    height: 113px;
}
.item-8{
    width: 165px;
    height: 113px;
}
.item-9{
    width: 143px;
    height: 113px;
}
.donation{
    display: flex;
    width: 1280px;
    height: 462px;
    background: #F6F6F6;
}
.donation-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 915px;
    height: 282px;
    background: #F6F6F6;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 183px;
    margin-right: 182px;
}
.donation-dog{
    width: 505px;
    height: 261px;
}
.donation2-content{
    width: 380px;
    height: 282px;
}
.donation-heading{
    width: 300px;
    height: 90px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;

}
.donation-subheading{
    width: 307px;
    height: 17px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: #545454;
}
.credit-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    font-family: 'Georgia';
    letter-spacing: 0.06em;
    color: #545454;
    border: none;
}

a:hover{
    cursor: pointer;
   
}
.credit-card:hover{
    cursor: pointer;
    background-color: rgb(255, 213, 157);
}

.card-num{
    width: 274px;
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}
.credit-card-icon{
    width: 30px;
    height: 23px;
}

.legal-information{
    width: 380px;
    height: 72px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}
footer{
    display: flex;
    background: url(../images/footer-gradient-background.png) no-repeat;
    width: 1280px;
    height: 350px;
}
.footer-content{
    width: 1200px;
    height: 310px;
    display: flex;
    gap: 160px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts{
    display: flex;
    flex-direction: column;
    width: 278px;
    height: 234px;
    gap:40px;
   
}

.footer-title{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;  
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 278px;
    height: 90px;
    margin: 0;
}

.contact1{
    width: 251px;
    height: 32px;
    display: flex;
    align-items: center;
}

.cont-icon{
    width: 40px;
    height: 32px;
    margin-right: 20px;
}

.ftr-span-1{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.contact2{
    display: flex;
    align-items: center;
    width: 239px;
    height: 32px;
}
.phone-icon{
    width: 40px;
    height: 32px;
    margin-right: 20px;
}

.ftr-span-2{
    width: 179px;
    height: 23px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.05em;
    color: #F1CDB3;
}
.location{
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 234px;
    gap:40px;
}
.footer-h2-2{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;  
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 270px;
    height: 90px;
    margin: 0;
}

.location1{
    display: flex;
    align-items: center;
    width: 302px;
    height: 46px;
}
.pin{
    width: 22px;
    height: 32px;
    margin-right: 20px;
}

.boston{
    width: 260px;
    height: 46px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.location2{
    display: flex;
    align-items: center;
    width: 302px;
    height: 32px;
}

.london{
    width: 260px;
    height: 23px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.footer-puppy{
    width: 300px;
    height: 310px;
        
}